@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Creepster&display=swap');

.cormorant-unicase-light {
  font-family: "Cormorant Unicase", serif;
  font-weight: 300;
  font-style: normal;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);

}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

    .maldito {
       margin: 0;
      height: 100vh;
      background: radial-gradient(circle at center, #2b0000 0%, #4a0000 70%, #7a0000 100%, #000000 100%);
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      font-family: 'Courier New', monospace;
    }

    .divino {
      margin: 0;
      height: 100vh;
      background: radial-gradient(circle at center, #fffbe6 0%, #fef3c0 40%, #f8e392 70%, #f4d35e 100%, #ffffff 100%);
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      font-family: sans-serif;
    }

#mode-toggle {
    display: flex;
    justify-content: center;
    font-size: 3.3rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: none;
 
}



.button {
    display: inline-block;
    padding: 0rem 0.8rem;
    padding-bottom: 0.3rem;
    margin-left: 0.6rem;
    background: transparent;
    color: black;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 3ms;

}

.button:hover {
  background-color: rgb(185, 182, 182);
}

#button-mode {
    font-size: 7rem;
}


